body { margin:0; font-family: Arial,sans-serif; background:#f9f9f9; color:#333; }

nav { background:#ff5722; padding: 40px; }
nav ul { list-style:none; display:flex; justify-content:center; margin:0; padding:0; }
nav ul li { margin:0 15px; }
nav ul li a { color:white; text-decoration:none; font-weight:bold; }

.hero { text-align:center; padding:100px 20px; color:rgb(143, 13, 13); background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('/static/event.jpg') no-repeat center/cover; }

.slider { position:relative; height:800px; overflow:hidden; }
.slides .slide { position:absolute; top:0; left:0; width:100%; height:500px; display:none; background-size:cover; background-position:center; color:rgb(107, 8, 8); text-align:center; padding-top:200px; font-size:40px; }
.slides .slide:first-child { display:block; }

section { padding:50px 20px; text-align:center; }

.services { display:grid; grid-template-rows:repeat(auto-fit,minmax(200px,1fr)); gap:30px; }
.service-card { background:rgb(190, 189, 194); padding:50px; border-radius:25px; box-shadow:0 4px 10px rgba(0,0,0,0.1); }


.form-section { display:flex; justify-content:center; }
.form-card { background:white; padding:30px; border-radius:12px; box-shadow:0 4px 10px rgba(0,0,0,0.15); width:800px; }
.form-card label { display:block; margin-top:15px; font-weight:bold; }
.form-card input, .form-card select, .form-card textarea { width:100%; padding:10px; margin-top:5px; border:1px solid #ccc; border-radius:8px; }
.form-card button { margin-top:20px; width:100%; padding:12px; background:#ff5722; color:white; border:none; border-radius:8px; cursor:pointer; }
.form-card button:hover { background:#e64a19; }

table { margin:20px auto; border-collapse:collapse; width:90%; }
table th, table td { border:1px solid #ccc; padding:10px; text-align:center; }
table th { background:#ff5722; color:white; }

footer { text-align:center; padding:40px; background:#333; color:rgb(255, 255, 255); }
