<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  {% include 'navbar.html' %}

  <h2>Registered Participants</h2>
  <table>
   

  <tr><th>ID</th><th>Name</th><th>Email</th><th>Phone</th><th>Event</th></tr>
  {% for r in registrations %}
    <tr>
      <td>{{ r[0] }}</td>
      <td>{{ r[1] }}</td>
      <td>{{ r[2] }}</td>
      <td>{{ r[3] }}</td>
      <td>{{ r[4] }}</td>
    </tr>
  {% endfor %}
</table>
